body {
    margin: 0;
    padding: 0;
}
nav {
    position: fixed !important;
    z-index: 1000;
    width: 100%;
    margin-bottom: 10rem !important;
    padding: 0.20rem 1rem !important;
}
.navbar-brand img {
   width: 12rem; 
}
.nav-item a {
    color: #efefef !important;
}
.nav-item a:hover {
    color: #ffffff !important;
}
.nav-item .active {
    color: #ffffff !important;
}
.dropdown-menu-right {
    border-top: 0.3rem solid #00baad;
}
a.dropdown-item {
    color: #000000 !important;
}
a.dropdown-item:hover {
    color: #00baad !important;
}
.dropdown > a:focus {
    color: #ffffff !important;
}
a.dropdown-item:focus {
    background: transparent !important;
}
.bg-dark {
    background: transparent !important;
}
.bg-dark.scrolled {
    background: linear-gradient(to left, #2a7b9b, #00baad) !important;
    box-shadow: 0.5rem 0.1rem 0.5rem 0.1rem rgba(108, 117, 125, 0.5);
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-item {
    height: 30vh;
    min-height: 300px;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1.cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #efefef;
    font-size: 5rem;    
}
.cover button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #efefef;
    border-image: linear-gradient(to left, #2a7b9b 10%, #00baad 100%);
    border-image-slice: 1;
    font-size: 1.1rem;
}
.cover button:hover {
    background: linear-gradient(to left, #2a7b9b 10%, #00baad 100%);
}

/*Card Customization*/
div.card-body {
    opacity: 0.7;
}
div.card-body:hover {
    opacity: 1.0;
}
.card-body > img {
    height: 10rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.card-body > .btn-dark {
    background: #00baad;
    border-color: #00baad;
}
a.btn-dark:hover, a.btn-dark:focus {
    background: #00baad !important;
    border-color: #00baad !important;
}
/*Padding*/
.pt-8 {
    padding-top: 3rem;
}
.pt-10 {
    padding-top: 5rem;
}

/*Margin*/
.mr-8 {
    margin-right: 3rem;
}
.mr-9 {
    margin-right: 4rem;
}
.mr-10 {
    margin-right: 10rem;
}
.mb-10 {
    margin-bottom: 5rem;
}
.mt-8 {
    margin-top: 3rem;
}
.mt-10 {
    margin-top: 5rem;
}
.ml-10 {
    margin-left: 5rem;
}
/*Heading*/

/*Paragraph*/
p.lead {
    font-weight: 350;
    font-size: 1.15rem;
}
.highlight-text {
    color: #2a7b9b;
    font-weight: 500;
    font-size: 1.15rem;
}
/*List*/
ul.list li {
    font-size: 1.15rem;
    list-style-type: none;
}
ul.list li::before {
    content: '\25B8';
}
ul.list li > p {
    margin-left: 1.5rem;
}
ol.list {
    list-style-type: none;
    padding: 0;
}
ol.list li {
    counter-increment: step-counter;
    margin: 2em 0;
}
ol.list li.list-type-circle-sm::before, 
ol.list li.list-type-circle-lg::before {
    content: counter(step-counter);    
    color: white;
    font-weight: bold;
    background: #2a7b9b;
}
ol.list li.list-type-circle-sm::before {
    padding: 0.25em 0.65em;
    border-radius: 2rem;
    font-size: 1rem;
    margin-right: 0.5rem;
}
ol.list li.list-type-circle-lg::before {
    padding: 0.75em 1.20em;
    border-radius: 2rem;
    font-size: 1.2rem;
    margin-right: 1rem;
}

li.list-type-circle-sm > mark + p {
    margin: 0.50em 3.0em;
}
li.list-type-circle-lg > mark + p {
    margin: 0 4.20em;
}
li.list-type-circle-sm > p {
    margin: 0.50em 2.70em;
    font-size: 1rem;
}
.strong-li {
    font-size: 1.2rem;
    font-weight: 550;
}

/*Mark*/
mark.formatted-text {
    font-family: Consolas;
    background: #cce5ff;
    border-radius: 0.2em;
}
li.list-type-circle-sm > mark.formatted-text {
    font-size: 1.2rem;
}
li.list-type-circle-lg > mark.formatted-text {
    font-size: 1.4rem;
}

/*Footer*/
footer {
    background: #404040;
    padding: 2.50rem 3rem;
    bottom: 0;
    width: 100%;
}
.nav-footer a {
    color: #00baad;
    text-decoration: none;
}
.nav-footer a:not(:last-child)::after{
    content: '/';
    color: #2a7b9b;
    margin-left: 0.50rem;
    margin-right: 0.50rem;
}
footer > div.row > div:nth-child(2n) {
    text-align: right;
}
footer > div > p {
    font-size: 1rem;
    color: #000000;
}
footer > div > div > a > img {
    width: 10rem;
}
.text-copyright {
    font-size: 0.8rem;
}
.text-copyright ~ a {
    color: #2a7b9b;
}
.links a > img {
    height: 2.5rem;
    margin: 0 0.25rem;
}

/*Side navbar*/
.flex-column {
    border: 1px solid #e3e3e3;
}
.flex-column > .nav-item a:not(.bg-active) {
    color: #707070 !important;
}
.flex-column > .nav-item a:hover:not(.bg-active) {
    color: #404040 !important;
    font-weight: 450;
}
.bg-active {
    color: red !important;
    background: #2a7b9b !important;
    font-size: 1rem !important;
    font-weight: 450;
}
.subnav ul {
    padding: 0.50rem 1rem;
}
.subnav-menu li {
    list-style-type: none;
    overflow: hidden;
    padding: 0.25rem 0;
}
.subnav-menu li::before {
    content: '\00BB';
}
.subnav-menu li a {
    margin: 0;
    padding: 0.50rem;
    text-decoration: none;
}
hr {
    height: 0.15rem;
    background: #00baad;
    display: block;
    margin-left: 0;
}
pre.sample-code {
    color: #404040;
    background-color: #efefef;
    padding: 1rem;
    border: 0.05rem solid #e4e4e4;
    max-height: 25rem;
}
.strong {
    font-weight: 550;
}
.fw-400 {
    font-weight: 400;
}